@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.contentWrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.cardEasy {
	background: linear-gradient(-45deg, rgba(110, 250, 122, 0.616) 13%, rgba(145, 248, 97, 0.44) 36%, rgba(198, 252, 112, 0.657) 69%, rgb(255, 255, 255) 85%);
  	background-size: 400% 400%;
  	animation: gradient 15s ease infinite;
  	height: 100vh;
	  font-family: "Russo One";
	  font-size: 12pt;
	  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.cardMedium {
	background: linear-gradient(-45deg, rgba(94, 118, 252, 0.432) 13%, rgba(250, 149, 149, 0.44) 36%, rgba(243, 241, 139, 0.657)69%, rgb(255, 255, 255) 85%);
  	background-size: 400% 400%;
  	animation: gradient 15s ease infinite;
  	height: 100vh;
	  font-family: "Russo One";
	  font-size: 12pt;

	  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cardHard {
	background: linear-gradient(-45deg, rgba(235, 75, 200, 0.432) 13%, rgba(125, 123, 249, 0.44) 36%, rgba(153,248,250,0.656688904494382) 69%, rgb(255, 255, 255) 85%);
  	background-size: 400% 400%;
  	animation: gradient 15s ease infinite;
  	height: 100vh;
	  font-family: "Russo One";
	  font-size: 12pt;
	  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	  margin-bottom: 100px;
	  word-wrap: normal;
}



@keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }

.codemirror {
margin-top: 50px
}

.runcode {
	font-family: "Russo One";
	font-size: 12pt;
	background-color: rgb(25, 228, 25);
	color: white;
	border: none;
	width: 7%;
	height: 30px;
	border-radius: 10%;
	cursor: pointer;
}	

iframe {
	background-color: #f8f8f8;
	font-family: monospace;
	color: #EEFFFF;
	font-size: 13px;
}